@import './variables.scss';
@import 'normalize.css';
@import './fonts.scss';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: $bg-color;
	color: $primary-color;
}

.wrapper {
	display: flex;
	height: 100vh;
}

.main-content {
	flex: 1;
	flex-direction: column;
	padding: 20px;
	overflow-y: auto;
}

.tasks,
.productivity,
.projects-in-progress {
	background-color: #fff;
	padding: 20px;
	border-radius: $border-radius;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
}

.tasks h2,
.productivity h2,
.projects-in-progress h2 {
	margin-bottom: 10px;
}
