$primary-color: #333;
$bg-color: #f4f7fc;
$white: #fff;
$gray: gainsboro;
$sky-blue-color: #D1E3FA;
$blue-text-color: #137590;

$green-color: #edf9e7;
$green-text-color: #356a18;

$border-radius: 10px;
$border-radius-50: 50px;
