@import '../../../styles/variables.scss';

.tasks {
  background-color: #fff;
	padding: 20px;
	border-radius: $border-radius;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
  
  h2 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 5px;
    color: $primary-color;
  }
}

.proceedResolve {
  color: rgba(0, 0, 0, .4);
  border-bottom: 2px solid rgba($gray, .5);
  margin-bottom: 10px;
}

.total {
  display: inline-block;
  color: $primary-color;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.status { 
  display: grid;
  grid-template-columns: repeat(6, 280px);
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 2px solid rgba($gray, .5);
  margin-bottom: 15px;

  & div:last-child {
    width: 100px;
  }
}
.admin_right  {
  margin-left: 35px;
}

.flexEnd {
  display: flex;
  justify-content: flex-end;
}
.status__wrapper {
  display: flex;
  gap: 15px;
}

