@import '../../../styles/variables.scss';

.projectsInProgress {
  background-color: #fff;
	padding: 20px;
	border-radius: $border-radius;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
  font-size: 1.3rem;

  h2 {
    margin-bottom: 10px;
  }
}

